<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>841045886628-aqe2b9ull3bidrrnhs3biv9qv9aerjdk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB4CIUcwmjN6mmr36MkqTCsMgvwik7CIuk</string>
	<key>GCM_SENDER_ID</key>
	<string>841045886628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suvanconsultancy.babybill</string>
	<key>PROJECT_ID</key>
	<string>babybill</string>
	<key>STORAGE_BUCKET</key>
	<string>babybill.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841045886628:ios:de8625d13801f5b9ac4831</string>
	<key>CLIENT_ID</key>
	<string>841045886628-8fpnck0rnopufc8pq62oidfiju85gfdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841045886628-8fpnck0rnopufc8pq62oidfiju85gfdd</string>
</dict>
</plist>